* {
    border: 1px solid red;
}

.flex-wrapper {
    /*
    .navbar
    .page-contents
    */
    display: flex;
}

.navbar {
    gap: 50px;
}

.navbar li {
    list-style-type: none;
}

.navbar img {
    width: 50px;
    height: auto;
}

.main-links,
.additional-links {
    display: flex;
    flex-direction: column;
}